/* Start Main Variables */

:root {
    --transparent-background-color: #0f748f8f;
    --main-background-color: #19c8fa;

    --fallback-black: #1f2021;

}

/* End Main Variables */

/* Start Global attributes */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    scroll-behavior: smooth;

    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
}

.special-heading {
    margin: auto;
    max-width: 400px;
    text-align: center;
    padding: 70px;

    font-weight: 500;
    font-size: 35px;
    letter-spacing: 3px;
    text-transform: uppercase;

    position: relative;
}

.special-heading::before {
    content: "";

    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);

    width: 40%;
    border: solid 1px black;
}

.special-heading::after {
    content: "";

    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, 50%);

    width: 15px;
    height: 15px;

    background-color: white;
    box-shadow: 0px 0px 1px 2px black;
    border-radius: 50%;
}

.special-heading-p {
    margin: auto;
    text-align: center;

    width: 40%;
    line-height: 1.6;
}

@media (max-width: 768px) {

    .special-heading-p {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .container {
        margin: auto;
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        margin: auto;
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        margin: auto;
        width: 1170px;
    }
}

/* End Global attributes */

/* Start header */

header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {

    padding: 20px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

}

header .container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 1px white;
}


header>a>img {
    height: 40px;
}

header>span {
    display: none;
    height: 50px;
    width: 50px;
}

header span>span {
    width: 100%;
    color: white;
}

header .nav {
    flex: 1;
}

header .form {
    display: inline;
}

header .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav li {
    padding: 10px 10px;
    display: inline-block;

    position: relative;
}

header .nav li::before {
    opacity: 0.1;
    transition: 0.2s ease-in;
}

header .nav a {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

header .nav li:hover a {
    color: var(--main-background-color);

    transition: 0.2s ease-in;
}

header .nav li:hover::before {
    content: "";

    position: absolute;
    bottom: -21px;
    left: 0px;
    width: 100%;

    z-index: 2;
    border: solid 1px var(--main-background-color);

    opacity: 1;
}


header .selected {
    color: var(--main-background-color) !important;
    position: relative;
}

header .selected::before {
    content: "";

    position: absolute;
    bottom: -32px;
    left: -10px;
    width: 150%;

    z-index: 2;
    border: solid 1px var(--main-background-color);
}

header .icon {
    margin-left: 30px;
    color: white;

    position: relative;
}

header .icon:before {
    content: "";
    border-right: solid 1px white;

    position: absolute;
    top: -5px;
    left: -15px;
    height: 150%;
}

@media (max-width : 768px) {

    header .container {
        position: relative;
        margin: auto;
        width: 90%;
    }

    header .nav {
        position: relative;
    }

    header .nav>span {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        width: 25px;
        height: 25px;

        position: relative;
    }

    header span>span {

        border: 1px solid white;
    }

    header ul {
        position: absolute;
        bottom: -280px;
        left: -170px;

        width: 200px;
        height: 250px;

        flex-wrap: wrap;
        justify-content: center;

        background-color: rgb(37, 36, 36);

        opacity: 0.1;
        visibility: hidden;

        transition: 0.15s ease-in-out;
    }

    header ul::before {
        content: "";
        position: absolute;
        top: -40px;
        right: 0px;

        border: solid 20px;
        border-color: transparent transparent rgb(37, 36, 36) transparent;

        visibility: none;
    }

    header .nav>span:hover ul {
        visibility: visible;
        opacity: 1;
    }

    header li {
        width: 100%;
    }

    header li::before {
        display: none;
    }

    header .selected::before {
        display: none;
    }

}

/* End header */

/* Start Landing */

.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url(../Images/background-landing.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    min-height: 100vh;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    padding: 50px;
    width: 50%;

    color: white;
    line-height: 2;
    background-color: var(--transparent-background-color);


    border-radius: 0px 4px 4px 0px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.landing .content {
    max-width: 500px;
}

.landing .text h2 {
    font-weight: 790;
    line-height: 1.4;
    margin-bottom: 20px;
}

.landing .fa-chevron-left {
    position: absolute;
    top: 50%;
    left: 20px;

    font-size: 25px;
    color: white;

    transition: 0.1s linear;
}

.landing .fa-chevron-right {
    position: absolute;
    top: 50%;
    right: 20px;

    font-size: 25px;
    color: white;

    transition: 0.1s linear;
}

.landing .arrow:hover {
    transform: scale(1.3);
}

.landing .bullets {
    position: absolute;
    left: 50%;
    top: 100%;

    width: 70px;
    height: 30px;
    transform: translate(-50%, -120%);

    display: flex;
    justify-content: space-between;
}

.landing .bullets>span {
    width: 20px;
    height: 20px;

    border: solid 2px white;
    border-radius: 50%;

    transition: 0.1s linear;
}

.landing .bullets>span:nth-child(2) {
    width: 20px;
    height: 20px;

    background-color: var(--main-background-color);

    border: solid 2px var(--main-background-color);
    border-radius: 50%;
}

.landing .bullets>span:hover {
    background-color: var(--main-background-color);

    border: solid 2px var(--main-background-color);
    border-radius: 50%;
}

@media (max-width: 992px) {
    .landing .text {
        width: 65%;
        justify-content: center;

        padding: 50px 10px;
    }

    .landing .overlay>i {
        display: none;
    }
}

@media (max-width: 768px) {
    .landing .text {
        width: 100%;
        justify-content: center;

        padding: 70px 10px;

        text-align: center;
    }

    .landing p {
        text-align: left;
        padding: 10px;
        font-size: 13px;
        font-weight: 600;
    }

}

/* End Landing */

/* Start Services */
.services {
    background-color: white;
}

.services .container {
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.services-content {
    padding: 60px 0px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

}

.services-content>div {
    padding: 25px;
    flex-basis: 45%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.services-content>div i {
    font-size: 50px;
    padding: 20px 60px;
}

.services-content>div .text h3 {
    color: var(--main-background-color);

    margin-bottom: 20px;
}

.services-content>div .text p {
    line-height: 2;
    font-weight: 600;
    font-size: 13px;

    color: rgb(0 0 0 / 44%);
}

@media (max-width: 768px) {

    .services-content {
        max-width: 100%;
        position: relative;
        padding-top: 50px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-content>div {
        position: relative;
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        padding: 0px;
    }

    .services-content .text {
        text-align: center;
        max-width: 90%;
    }

    .services-content p {
        text-align: center;
    }
}

/* End Services */

/* Start Design */

.design {
    max-height: 600px;
    background-image: url(/Images/Design-background.jpg);
    background-size: cover;
    background-position: center;
}

.design .overlay {
    padding: 100px 0 100px 25%;
    max-height: 600px;
    background-color: rgb(0 0 0 / 40%);

    display: flex;
    align-items: center;
}

.design .phones {

    margin-right: 25%;

    min-width: 200px;
    height: 400px;

    position: relative;
}

.design .phones::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 50%;

    width: 170px;
    height: 390px;

    background-image: url(/Images/Phone-white.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.design .phones::after {
    content: "";
    position: absolute;
    top: 75px;
    left: 55.5%;

    width: 150px;
    height: 270px;

    border-radius: 4px;

    background-image: url(/Images/Friendlist.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.design .phones .friendlist {
    width: 100%;
    height: 100%;
    background-image: url(/Images/Phone-black.png);
    background-size: contain;
    background-repeat: no-repeat;

    z-index: 3;

    position: relative;
}

.design .phones .friendlist::before {
    content: "";
    position: absolute;
    top: 43px;
    left: 12px;

    width: 173px;
    height: 310px;

    z-index: 4;
    border-radius: 4px;

    background-image: url(/Images/homepage.JPG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.design .content {
    padding: 30px 60px;

    flex-grow: 1;
    background-color: var(--transparent-background-color);

    border-radius: 4px 0px 0px 4px;
}

.design .text {

    width: 400px;

    line-height: 2;
    color: white;
}

.design .text h3 {
    margin-bottom: 30px;

    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1px;
}

.design .text div {
    margin-bottom: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

}


.design .text i {
    margin-right: 20px;
    font-size: 30px;
}

.design .text p {
    font-size: 20px;
}

@media (max-width: 1200px) {
    .design .overlay {
        padding-left: 50px;
    }

    .design .phones {
        margin-right: 25%;
    }
}

@media (max-width: 992px) {
    .design .overlay {
        padding-left: 30%;
    }

    .design .phones {
        display: none;
    }
}

@media (max-width: 768px) {
    .design .overlay {
        padding-left: 0px;
    }

    .design .content {
        justify-content: center;
        padding: 30px 0;
    }

    .design .text {
        margin: auto;
        text-align: center;
        width: 80%;
    }

    .design .text h3 {
        font-size: 20px;
    }

    .design .text div {
        margin: 0px auto 10px;
        padding-left: 25%;
    }

    .design .text i {
        font-size: 20px;
    }

    .design .text p {
        font-size: 16px;
    }
}

/* End Design */

/* Start Portifolio */

.portifolio {
    background-color: white;
    padding-bottom: 1px;
}

.portifolio .container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portifolio .content {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.portifolio .content div {
    margin: 50px 0px 10px;
    padding: 10px;
    height: 50px;

    font-size: 18px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    align-items: center;

    transition: 0.1s ease-in;
}

.portifolio .content div:first-child {
    color: white;
    background-color: var(--main-background-color);
}

.portifolio .content div:hover {
    color: white;
    background-color: var(--main-background-color);
}

.portifolio .slideshow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.portifolio .slideshow div {
    width: 25%;
    min-width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;

    background-color: black;
}

.portifolio .slideshow div::before {
    content: "Awesome Image";
    position: absolute;
    bottom: 0px;
    left: 0px;

    padding: 25px 20px;
    width: 100%;
    height: 15%;

    font-weight: bold;

    transition: 0.5s;
    transform: translateY(300%);
    opacity: 0.1;

    z-index: 2;
    background-color: white;
}

.portifolio .slideshow div::after {
    content: "Photography";
    position: absolute;
    bottom: 0;
    left: 25px;
    width: 100%;
    height: 40px;

    font-weight: bold;

    transition: 0.5s;
    transform: translateY(300%);
    opacity: 0.1;

    z-index: 2;
    color: var(--main-background-color);
}

.portifolio .slideshow div:hover img {
    transform: scale(1.2) rotateZ(5deg);
    opacity: 0.6;
}

.portifolio .slideshow div:hover::before {
    transform: translateY(0);
    opacity: 1;
}

.portifolio .slideshow div:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.portifolio .slideshow div img {
    width: 100%;
    height: 100%;
    position: relative;

    transition: 0.5s;
}

.portifolio .more {
    margin: 30px auto;
    margin-bottom: 80px;
    width: 150px;
    height: 50px;

    border-radius: 2px;
    background-color: var(--main-background-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.portifolio .more a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

@media (max-width:1200px) {
    .portifolio .slideshow div {
        width: 50%;
    }
}

@media (max-width:768px) {
    .portifolio .slideshow div {
        width: 100%;
        border-bottom: solid 1px white;
    }
}

/* End Portifolio */

/* Start video */

.video {
    position: relative;
}

.video video {
    max-width: 100%;
    width: 100%;
    max-height: 90vh;
    object-fit: fill;
}

.video .overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgb(0 0 0 / 50%);

    display: flex;
    align-items: center;
}

.video .text {
    width: 100%;
    max-height: 100%;
    height: 250px;
    background-color: var(--transparent-background-color);

    display: flex;
    align-items: center;
}

.video .content {

    margin: auto;

    width: 500px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

.video .content h3 {
    font-size: 30px;
}

.video .content p {
    margin: 20px;
}

.video .more {
    margin-top: 20px;
    width: 150px;
    height: 35px;

    background-color: var(--fallback-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.video .more a {
    text-decoration: none;
    color: white;
}


/* End video */

/* Start About */

.about {
    background-color: white;
    width: 100%;
    position: relative;
    text-align: center;
}

.about .devices {
    position: relative;
    margin-top: 65px;
    height: 300px;
    overflow: hidden;
}

.about .devices img {
    position: absolute;
    bottom: -35%;
    left: 50%;
}

.about .devices img:first-child {
    z-index: 2;
    transform: translateX(-100%);
}

.about .devices img:nth-child(2) {
    z-index: 1;
    transform: translate(-50%, 2%);
}

.about .devices img:last-child {
    z-index: 2;
    transform: translate(80%, -20%);
}


/* stats */
.about .stats {
    padding: 30px 0px;
    background-color: black;
    color: white;

    display: flex;
    align-items: center;
}

.about .stats .container {
    padding: 50px 50px;
    max-width: 85%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px 0px;

    background-color: var(--transparent-background-color);
}

.about .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .stat .icon {
    width: 35px;
    height: 22px;
    margin-bottom: 15px;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.about .stat .icon::before {
    content: "";
    position: absolute;

    border-style: solid;
    border-width: 0px 17.5px 8px 17.5px;
    border-color: transparent transparent black transparent;

    top: 0;
    transform: translateY(-100%);
}

.about .stat .icon::after {
    content: "";
    position: absolute;

    border-style: solid;
    border-width: 8px 17.5px 0px 17.5px;
    border-color: black transparent transparent transparent;

    bottom: 0;
    transform: translateY(100%);
}

.about .stat h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.about .stat p {
    letter-spacing: 1.2px;
    font-size: 13px;
}

/* testimonials & Skills*/
.team .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 50px;
    text-align: center;
}

.team h3 {
    margin-top: 45px;
    margin-bottom: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}


.team p {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 1.5;
}

.team .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 550px;
    margin: auto;
}

.team .member {
    margin-bottom: 30px;
    height: 150px;
    display: flex;
    text-align: left;
}

.team .member .image {
    margin-right: 70px;
    width: 150px;
    height: 150px;
}

.team .member img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.team .member .info {
    width: 300px;
    height: 150px;
    font-size: 14px;
    font-weight: 600;

    position: relative;
}

.team .member .info::before {
    content: "Eslam Onsy, Manager";
    color: gray;

    position: absolute;
    bottom: 0;
    right: 0;

    transform: translateY(-50%)
}

.team .member:last-child .info::before {
    content: "Max, Doggo";
}

.team .member p::after {
    content: "";
    width: 100%;
    border-top: solid 1px black;

    position: absolute;
    bottom: 0;
    left: 0;
}

.team .skills {
    width: 550px;
    margin: auto;
}

.team .skills p {
    margin-bottom: 30px;
}

.team .skillset {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.team .skill {
    width: 70%;
    height: 30px;
    background-color: lightgray;

    position: relative;
}


.team .skill::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-150%);

    font-weight: 500;
    letter-spacing: -1px;
}

.team .skill:first-child:before {
    content: "ADOBE";
}

.team .skill:nth-child(2):before {
    content: "HTML & CSS";
}

.team .skill:nth-child(3):before {
    content: "JAVASCRIPT";
}

.team .skill:last-child:before {
    content: "PHP";
}

.team .skill .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-background-color);
}

.team .skill:first-child .progress {
    width: 85%;
}

.team .skill:nth-child(2) .progress {
    width: 83%;
}

.team .skill:nth-child(3) .progress {
    width: 75%;
}

.team .skill:last-child .progress {
    width: 77%;
}

.team .skill .progress::before {
    content: "95%";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -120%);

    width: 40px;
    height: 25px;
    font-size: 12px;
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.team .skill:nth-child(2) .progress::before {
    content: "93%";
}

.team .skill:nth-child(3) .progress::before {
    content: "85%";
}

.team .skill:last-child .progress::before {
    content: "87%";
}

.team .skill .progress::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -70%);

    border-style: solid;
    border-width: 10px 10px 5px 10px;
    border-color: black transparent transparent transparent;
}

.about .quote {
    background-image: url(../Images/Thinking.jfif);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-color: #111214;

    position: relative;
    padding: 5%;
    color: white;
    font-size: 20px;
    font-style: italic;
}

.about .quote .container {
    max-width: 100%;
    margin: auto;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: white;
    font-style: italic;

    margin-bottom: 10px;
}

@media (max-width: 768px) {

    .about>.container {
        padding-bottom: 50px;
    }

    .about .devices {
        display: none;
    }

    .about .stats .container {
        max-width: 100%;
        width: 100%;
    }

    .about .testimonials {
        margin: auto;
        position: relative;
        width: 90%;
    }

    .about .skills {
        margin: auto;
        position: relative;
        width: 90%;
    }

    .about .team .member {
        margin-bottom: 50px;
        width: 90%;
        height: 300px;

        flex-direction: column;
        align-items: center;

    }

    .about .team .info {
        width: 80%;
    }

    .about .team .image {
        margin: auto;
        margin-bottom: 30px;
    }

    .about .quote {
        background-image: var(--fallback-black);
    }

}

/* End About */


/* Start Pricing */

.pricing {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.pricing .container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 20px;
}

.pricing .offer {
    text-align: center;
    position: relative;
}

.pricing .offer hr {
    margin: 10px auto;
    border-top: solid 1px var(--main-background-color);

    width: 80%;
}

.pricing .offer h3 {
    margin-top: 20px;
    margin-bottom: 10px;

    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
}

.pricing .offer h4 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 45px;

    position: relative;
}

.pricing .offer h4::before {
    content: "$";

    font-size: 20px;
    font-weight: bold;

    position: absolute;
    top: 0;
    left: 35%;
}

.pricing .offer h4::after {
    content: "/MO";

    font-size: 13px;
    font-weight: bold;

    position: absolute;
    bottom: 0;
    right: 30%;
}

.pricing .offer-info {
    margin: auto;
    width: 50%;
}

.pricing .offer h5 {
    margin: 20px;
    font-size: 15px;
    font-weight: 300;
}

.pricing .offer .BuyNow {
    margin: 30px auto 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;

    width: 40%;
    height: 35px;

    border: solid 1px var(--main-background-color);
    border-radius: 4px;
    box-shadow: 0px 0px 2px var(--main-background-color);

    transition: ease-out 0.1s;
}

.pricing .offer .BuyNow:hover {
    background-color: var(--main-background-color);
    color: white;

    font-weight: bold;
}

.pricing>h3 {
    margin: auto;
    font-size: 18px;
    font-weight: 300;
}

.pricing>.contactUs {
    margin: 20px auto 50px;
    width: 100px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--main-background-color);
    border-radius: 4px;
}

.pricing a {
    font-size: 15px;
    color: white;
    font-weight: 600;

    letter-spacing: 0.7px;

    text-decoration: none;
}

.pricing .newsletter {
    padding: 100px 0px;
    background-color: black;
}

.pricing .newsletter form {
    margin-left: 20%;
    max-width: 40%;
    height: 50px;
    border: solid 1px var(--main-background-color);

    display: flex;
    align-items: center;

    position: relative;
}

.pricing .newsletter .icon {
    color: white;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing .newsletter input {
    width: calc(100% - 140px);
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;

    color: white;
}

.pricing .newsletter button {
    width: 100px;
    height: 100%;
    background: var(--main-background-color);
    border: none;
    outline: none;

    color: white;
    font-size: 12px;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    font-weight: 600;
}

.pricing .newsletter form::after {
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit.";
    position: absolute;
    width: 80%;
    top: 50%;
    left: 110%;
    transform: translate(0, -50%);
    color: white;
}

@media (max-width: 768px) {
    .pricing .newsletter form {
        margin-left: 10%;
        max-width: 80%;
    }

    .pricing .newsletter form::after {
        width: 100%;
        left: 0;
        top: 170%;
    }
}

/* End Pricing */

/* start Contact */

.contact {
    background-color: white;
}

.contact-content {
    margin: auto;
    margin-top: 50px;
    width: 60%;

    display: flex;
}

.contact-content form {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;

    height: 500px;
    position: relative;
}

.contact-content form input {
    height: 50px;
    margin-bottom: 20px;
    padding-left: 15px;

    border: solid 1px rgb(211, 206, 206);
    outline: none;
    box-shadow: none;
}

.contact-content form textarea {
    margin-bottom: 50px;
    padding: 15px;

    border: solid 1px rgb(211, 206, 206);
    outline: none;
    box-shadow: none;
}

.contact-content button[type=submit] {
    position: absolute;
    bottom: 10%;
    left: 100%;

    transform: translateX(-100%);

    width: 150px;
    height: 50px;

    background-color: var(--main-background-color);
    border: none;
    outline: none;

    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.contact-content .contact-info {
    display: flex;
    flex-direction: column;
}

.contact-content .contact-number {
    margin-bottom: 50px;
}



.contact-content .contact-number h3,
.contact-content .contact-location h3 {
    margin: 25px 25px 5px;
    font-weight: 400;
}

.contact-content .contact-number p,
.contact-content .contact-location p {
    margin-left: 30px;
    color: gray;
}

@media (max-width: 768px){
    .contact-content{
        flex-direction: column;
        width: 80%;
    }

    .contact-content form{
        width: 100%;
    }

    .contact-content button[type=submit]{
        left: 50%;
        transform: translateX(-50%);
    }

    .contact-content .contact-info{
        flex-direction: row;
        justify-content: space-between;

        min-width: 100%;
    }

    .contact-content .contact-location,
    .contact-content .contact-number{
        width: 200px;
    }
}

/* end Contact */

/* start Footer */

    footer .container{
        margin-top: 50px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        color: white;
    }

    footer .logo{
        margin: 20px 0px;
    }

    footer h2{
        margin-bottom: 20px;

        font-weight: 300;
        letter-spacing: 1px;

        display:flex;
        justify-content: center;

        position: relative;
    }

    footer h2::after{
        content : "";

        width: 120%;
        position: absolute;
        bottom: -10px;
        left: -20px;

        border-bottom: solid 1px white;
    }

    footer .icons{
        width: 35%;

        display: flex;
        justify-content: center;
    }

    footer i{
        padding: 15px;
    }

    footer .credit{
        margin-top: 50px;
        
        text-align: center;
    }

    footer span{
        color: var(--main-background-color);
    }

/* end Footer */
